requests
fastapi
pydantic
pydantic-settings
uvicorn[standard]
httpx
dotenv
pyyaml
aiohttp
aiohttp_retry
aioresponses
pytest-asyncio
pytest-mock
aio_pika
cachetools
SQLAlchemy
pymysql
aiomysql
cryptography
alembic
testcontainers[mysql]
celery
httpx
backoff
python-dotenv
prometheus-fastapi-instrumentator
flower
redis