
/* index.css */
@reference "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
@layer components {
  .ag-header {
    @apply bg-slate-100 text-slate-800 font-semibold;
  }

  .ag-row {
    @apply hover:bg-slate-50;
  }

  .ag-cell {
    @apply text-sm text-slate-700;
  }
}
@layer base {
  :root {
    --bg: 255 255 255;
    --fg: 17 24 39;
  }

  html.dark {
    --bg: 17 24 39;
    --fg: 243 244 246;
  }
}
.bg-bg {
  background-color: rgb(var(--bg));
}

.text-fg {
  color: rgb(var(--fg));
}
.ag-cell{
  color: rgb(var(--fg));
}
.icon-deactivate {
  content: url("../src/icons/deactivateServiceSmall.png");
}
.icon-activate {
  content: url("../src/icons/activateServiceSmall.png");
}
.icon-delete {
  content: url("../src/icons/deleteServiceSmall.png");
}

html.dark .icon-delete {
    content: url("../src/icons/deleteServiceSmallDark.png");
}
.icon-edit {
  content: url("../src/icons/editServiceSmall.png");
}

html.dark .icon-edit {
    content: url("../src/icons/editServiceSmallDark.png");
}
.icon-actions {
  content: url("../src/icons/actionsSmall.png");
}

html.dark .icon-actions {
    content: url("../src/icons/actionsSmallDark.png");
}
.icon-tasks {
  content: url("../src/icons/tasksSmall.png");
}

html.dark .icon-tasks {
    content: url("../src/icons/tasksSmallDark.png");
}
.login-form {
  background-image: url("../src/icons/BMcom_logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
}